<p id="notice"><%= notice %></p>

<h1>Listing Questions</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Kind</th>
      <th>Quiz</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @questions.each do |question| %>
      <tr>
        <td><%= question.title %></td>
        <td><%= question.kind %></td>
        <td><%= question.quiz %></td>
        <td><%= link_to 'Show', [@quiz,question] %></td>
        <td><%= link_to 'Edit', edit_quiz_question_path(@quiz, question) %></td>
        <td><%= link_to 'Destroy', [@quiz,question], method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
