<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @quiz.title %>
</p>

<%= link_to 'Edit', edit_quiz_path(@quiz), class: "btn btn-default" %> |
<%= link_to 'Back', quizzes_path, class: "btn btn-default"%>
<%= link_to 'Add question',new_quiz_question_path(@quiz), class: "btn btn-default" %>

<h2>Questions</h2>
<ul>
  <%@quiz.questions.each do |question|%>
    <li><%=question.title %></li>
    <ul>
      <%question.possible_answers.each do |ps|%>
        <li><%=ps.title%></li>
      <%end%>
    </ul>
  <%end%>
</ul>
