<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @quiz.title %>
</p>


<h2>Questions</h2>
<ul>
  <%@quiz.questions.each do |question|%>
    <li><%=question.title %></li>
    <ul>
      <%question.possible_answers.each do |ps|%>
        <li><%=ps.title%></li>
      <%end%>
    </ul>
  <%end%>
</ul>
<p>
<%= link_to 'Edit', edit_quiz_path(@quiz), class: "btn btn-default" if current_user && current_user.admin? %>
<%= link_to 'Back', quizzes_path, class: "btn btn-default" if current_user && current_user.admin?%>
<%= link_to 'Add question',new_quiz_question_path(@quiz), class: "btn btn-default" if current_user && current_user.admin? %>
</p>
<% @quiz.replies.each do |reply| %>
  <div class="col-md-6">
    <div class="panel panel-default">
      <div class="panel-heading text-right">
        <%= time_ago_in_words reply.created_at %>
      </div>
      <div class="panel-body">
        <dl>
          <% reply.answers.each do |answer| %>
            <dt>
              <%= answer.question.title %>
            </dt>
            <dd>
              <%= answer.possible_answer.present? ? answer.possible_answer.title : "No answer" %>
              <% if answer.possible_answer.present? && answer.possible_answer.title == answer.question.right_answer%>
                <h3>Your score</h3>
                 <h4><%=@total_score%></h4>
                <%else%>
                <h3>Try again</h3>
              <%end%>
            </dd>
            <dd>

            </dd>
            <h4>Right answer</h4>
            <dt><%= answer.question.right_answer%></dt>
          <% end %>

        </dl>
      </div>
    </div>
  </div>
<% end %>
