

<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <%= link_to 'QuizzApp', root_path, class: 'navbar-brand' %>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><%= link_to "Quiz", quizzes_path%></li>
      </ul>
      <%if current_user%>
      <ul class="nav navbar-nav navbar-right">
        <li><%= current_user.email %></li>
          <li><%= link_to 'Log Out', destroy_user_session_path, method: :delete %></li>
      </ul>
      <% else %>
        <ul class="nav navbar-nav">
          <li><%= link_to 'Signin', new_user_session_path %> </li>
        </ul>
      <%end%>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
